<div id="attribution" class="attribution">
    <!-- TODO - Fix these attribution details -->
    <p>Challenge by <a href="https://www.freecodecamp.org/learn/responsive-web-design/responsive-web-design-projects/build-a-tribute-page" target="_blank">freeCodeCamp</a></p>
    <p>Coded by <a href="https://github.com/kolehiyolo" target="_blank">Tristan Sean Paul Cinco</a></p>
</div>