<head>
    <!-- * Meta Tags -->
    <!-- Unicode -->
    <meta charset="UTF-8">
    <!-- Internet Explorer Edge Support -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Displays site properly based on user's device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- * Root Colors -->
    <!-- I set it up this way so that the theme colors can be overridden very easily through JS -->
    <style id="theme--override">
        :root {
            --color--background: rgba(238, 238, 238, 1);
            --color--background-light: rgba(255, 255, 255, 1);

            --color--text: rgba(0, 0, 0, 1);
            --color--text-link: rgba(0, 0, 255, 1);
        }
    </style>

    <!-- * Page -->
    <!-- CSS Link -->
    <link rel="stylesheet" href="/css/index.css">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png">
    <!-- Page Title -->
    <title>freeCodeCamp | Build a Tribute Page</title>
</head>