<div id="scripts" class="scripts">
    <!-- * Data/Variables -->
    <!-- These are scripts that set up variables either as placeholders or as client-side variables -->
    <!-- ! No scripts for this project -->

    <!-- * Active Scripts -->
    <!-- These are scripts that set event-listeners, module-builders, and client-side javascript actions -->
    <!-- ! No scripts for this project -->

    <!-- * freeCodeCamp Testing Script -->
    <script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>
</div>