.attribution {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
    padding: 20px;

    // ! TEST - Hiding dem attribution for now
    position: absolute;
    z-index: -1;
    opacity: 0;
    top: 0;
}