@media (max-width:460px) {
    html {
        body {
            .main {
                margin: 0;

                &--header {
                    &--title {
                        font-size: 2.1875rem;
                    }
                }
                
                &--main {
                    &--img-div {
                        &--img-figure {
                            &--img-caption{
                                font-size: 14px;
                                font-size: 0.875rem;
                            }
                        }
                    }
                }
            }
        }

    }
}